<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="sqlConn" providerName="System.Data.sqlclient" connectionString="Data Source=TEAPOT;Initial Catalog=SpotLess_Dev;Integrated Security=SSPI" />
  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
   

    <add key="ASNCreationPath" value="C:\Staples\cXMLFiles\New Test PO\ASN\" />

    <add key="selectOrders" value="select distinct OrderNumber from [dbo].[tbl_Ord_Payload_Details] WHERE OrderNumber =  '4501679673'  "/>

    <add key="selectPayloadData" value="select * from [dbo].[tbl_Ord_Payload_Details] where OrderNumber =  "/>

    <add key="invoiceCreationPath" value="\\TD-SQL-01\D$\SPOTLESS\Invoices\"/>

    <add key="selectHeaderData" value="select * from tbl_Ord_Header_Data where OrderNumber =  "/>

    <add key="selectShipToData" value="select * from tbl_Ord_Req_ShipTo_Data where OrderNumber =  "/>

    <add key="selectRequestData" value="select * from tbl_Ord_Req_Data where OrderNumber = "/>

    <add key="selectRequestItemData" value="select * from tbl_Ord_Req_Item_Data where OrderNumber =  "/>

    <add key="sourcePathFromAppSettings" value="C:\Staples\cXMLFiles\New Test PO\POC\"/>

    <add key="destPathFromAppSettings" value="C:\Staples\cXMLFiles\New Test PO\POC\Processed\"/>

    <add key="insertError" value="INSERT INTO [dbo].[tblOrderErrors] (OrderNumber,    ErrorMessage,       ErrorOccuredDate,     ModuleName ) 
                                VALUES ( @OrderNumber,    @ErrorMessage,     @ErrorOccuredDate,  @ModuleName  )"/>


  </appSettings>

</configuration>